*{
    margin: 0;
    padding: 0;
}

.box{
    margin-top: 5%;
}

.box1{
    display: flex;
    gap: 50px;
    margin-left: 27%;
}

.imgsize{
    height: 304px;
    width: auto;
}

#card{
    width: 18rem;
}

.emp-space{
    margin-bottom: 10px;
}
