*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1000px) {
    .resume-text{
        margin-top: 10%;
    }

    .rbox{
        margin-top: 5%;
        margin-left: 22%;
    }

    .download{
        margin-left: 30%;
        margin-top: 3%;
    }
}

@media screen and (max-width:440px) {
    .rbox{
        width: 412px;
        margin-left: 6%;
        margin-top: 3%;
    }

    .imgbox img{
        height: 400px;
        width: 380px;
    }
}

